.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f6f7fb;
}

.title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.header {
    -fx-font-size: 26px;
    -fx-padding: 10;
    -fx-font-weight: bold;
}

.primary-btn {
    -fx-background-color: #4e8cff;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
}

.primary-btn:hover {
    -fx-background-color: #3a6eda;
}

.success-btn {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
}

.gpa-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}
